/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import 'bootstrap/utilities';

 .tree {
	opacity: 1; 
	cursor: crosshair;
	overflow: auto;
}

.tree:hover{
	fill: #468a41
}

.decid {
	fill: #11421d;
}

.everg {
	fill: #003815
}

body {
	background-color: #b5c7b9;
	font-family: Palatino;
}

.content {
	background-color: #f7f4ed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
}

.header{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
}

.tree-header{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer {
	text-align: center;
}

h1 {
	font-size: 32px;
	color: darkgreen;
	margin-top: 4px;
	margin-bottom: 4px;
}

h2 {
	font-size: 24px;
	color: #211c18;
}

h3 {
	font-size: 16px;
	color: #54463b;
}

h4 {
	font-size: 12px;
	color: lightsteelblue;
}

.text-tan {
	color: #dac3b4;
	text-shadow: 1px 1px 5px #eedfd4;
}

.map {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 15px;
	display: block;
	width: 100%;
	max-width: 700px;
	border-radius:10px;
	overflow:auto;
}

.treepic {
  display: block;
  margin-left: auto 10;
  margin-right: auto 10;
  margin-top: 20px;
  margin-bottom:20px;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

.btn {
	padding: 7px 15px;
	text-align: center;
	font-size: 14px;
	font-family: Palatino;
	background-color:#f4ece0;
	color:#54463b;
	border-radius: 5px;
	border: none;
	width:70 px;
	margin-right: auto 0;
	display: block;
}

.btn:hover {
	cursor: pointer;
	background:#ede5d8;
	align-self: flex-start;
}

a{
	text-decoration: none;
}

hr.tan{
    border: 1px solid #ede5d8;
}

.move-front {
	z-index: 2;
}

.tree-img .img {
	display: block;
	margin-left: auto 10;
	margin-right: auto 10;
	margin-top: 20px;
	margin-bottom:20px;
	border-radius: 15px;
	max-width: 100%;
	height: auto;
  }